* {
    font-family: Calibri, Verdana, Arial;
    margin: 0;
    padding: 0;
}
#left {
    float: left;
}
#center {
    float: left;
}	
#right {
    position: fixed;
    right: 0;
    top: 0;
    text-align: center;
    width: 25%;
}
#left th {
    background-color:#002f00;
    border: 1px solid #008000;
    color: #ffffff;
}
#left tr:nth-child(odd) td {
    background-color:#dbffd7;
}
#left tr:nth-child(even) td {
    background-color:#b8ffb0;
}
#right .calc h1 {
    font-size: 120%;
}
#right .calc {
    border: dotted 1px #000000;
}
